<!-- %= form_tag({ :action => "merge"} , :id => "merge_form") do %-->

  <div class='separator'>
    <h4><%= _("Merge Articles") %></h4>
    <div class=''>
      <%= text_field 'merge', 'merge_with', { :style => 'width: 100%'} %>
    </div>
  </div>

<!--% end %-->
